<nb-spinner *ngIf="isLoading">
</nb-spinner>
<div *ngIf="!isGoogleAuthed && !isLoading" class="d-flex h-100 justify-content-center">
    <div class="d-flex align-items-center">
        <button nbButton outline status="primary" (click)="onLoginClick()">
            <fa-icon [icon]="faGoogle"></fa-icon>
            &nbsp; Login with Google
        </button>
    </div>
</div>
<div *ngIf="isGoogleAuthed && !isLoading">
    <form (ngSubmit)="onSubmit()" #form="ngForm" aria-labelledby="title">
        <nb-card>
            <nb-card-body>
                <nb-form-field>
                    <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                    <input type="text" id="input-search-yt-channel" [(ngModel)]="searchBuffer" name="search" nbInput
                           fullWidth
                           fieldSize="medium"
                           placeholder="Enter youtube username">
                </nb-form-field>
            </nb-card-body>
        </nb-card>
    </form>
    <div *ngIf="!channel" class="d-flex justify-content-center">
        <p class="font-weight-bold">Nothing to display</p>
    </div>
    <div *ngIf="channel">
        <div class="fluid-container">
            <div class="row no-gutters d-flex align-items-center">
                <div class="col-md">
                    <div class="d-flex justify-content-center">
                        <img
                            [src]="channel.thumbnail.url"
                            class="img-fluid" alt="channel image">
                    </div>
                </div>

                <div class="col-md">
                    <div class="flex-grow-1 py-4 px-5">
                        <div class="d-flex justify-content-between">
                            <p class="text-uppercase font-weight-bold mr-1">Username</p>
                            <p>{{channel.title}}</p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="text-uppercase font-weight-bold mr-1">Country</p>
                            <p>{{channel.country}}</p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="text-uppercase font-weight-bold mr-1">Views</p>
                            <p>{{channel.statistics.viewCount}}</p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="text-uppercase font-weight-bold mr-1">Subs</p>
                            <p>{{channel.statistics.subscriberCount}}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-uppercase font-weight-bold mr-1">Videos</p>
                            <p>{{channel.statistics.videoCount}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
