<div *ngIf="isLoading">
    <nb-spinner></nb-spinner>
</div>
<div *ngIf="!isTwitchAuthed && !isLoading" class="d-flex h-100 justify-content-center">
    <div class="d-flex align-items-center">
        <button nbButton outline status="primary" (click)="onLoginClick()">
            <fa-icon [icon]="faTwitch"></fa-icon>
            &nbsp; Login with Twitch
        </button>
    </div>
</div>
<div *ngIf="isTwitchAuthed && !isLoading">
    <form (ngSubmit)="onSubmit()" #form="ngForm" aria-labelledby="title">
        <nb-card>
            <nb-card-body>
                <nb-form-field>
                    <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                    <input type="text" id="input-search-ttv-stream" [(ngModel)]="searchBuffer" name="search" nbInput
                           fullWidth
                           fieldSize="medium"
                           placeholder="Enter online streamer username">
                </nb-form-field>
            </nb-card-body>
        </nb-card>
    </form>
    <div *ngIf="!stream" class="d-flex justify-content-center">
        <p class="font-weight-bold">Nothing to display</p>
    </div>
    <div *ngIf="stream">
        <table class="table table-bordered table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Title</th>
                <td>{{stream.title}}</td>
            </tr>
            <tr>
                <th scope="row">Channel</th>
                <td>{{stream.user_name}}</td>
            </tr>
            <tr>
                <th scope="row">Viewers</th>
                <td>{{stream.viewer_count}}</td>
            </tr>
            <tr>
                <th scope="row">Game</th>
                <td>{{stream.game_name}}</td>
            </tr>
            <tr>
                <th scope="row">Language</th>
                <td>{{stream.language}}</td>
            </tr>
            <tr>
                <th scope="row">Started at</th>
                <td>{{stream.started_at}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
