@import '../../../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../../../node_modules/@nebular/theme/styles/global/breakpoints';
@import '../../../../../../node_modules/@nebular/theme/styles/theming';
@import '../../../../../themes';

@include nb-install-component() {
    height: 100%;
    position: relative;
    overflow: auto;

    nb-card, nb-card-body {
        margin-bottom: 2px;
    }
    nb-card-body {
        padding: 0.5rem 1.5rem;
    }
}
